.App {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 2rem;
}

#Setup {
  text-align: center;
  margin-top: 50px;
}

#Punchline {
    text-align:  center;
    margin-top: 20%;
    font-size: 4rem;
}

button {
  font-size: 2rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
  border-radius: 12px;
  padding: 10px 10px;
  position:absolute;
  bottom:0px;
  right:25%;
  left:50%;
  margin-left:-150px;
  margin-bottom: 20px;
 
}

button a:hover,
button a:active {
    color: #fa923f;
}